/* BASE CODE */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(34, 37, 41);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Play Icon */

#welcome {
  position: absolute;
  display: flex;
  height: stretch;
  width: stretch;
  justify-content: center;
  align-items: center;
}

#playIcon {
  background-color: crimson;
  height: 15rem;
  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  border-radius: 10%;
}

#bodyContent {
  transition-delay: 2s;
  width: stretch;
}

@starting-style {

  #playIcon {
    opacity: 1;
    height: 10rem;
    transform: rotate(360deg);
  }

  #bodyContent {
    opacity: 0;
  }

}

/* Body Content */

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  overflow: hidden;
}

#navbarSupportedContent {
  justify-content: space-between;
}

#searchBarAndButton {
  display: flex;
  width: 60%;
}

#userActions {
  display: flex;
}

.userActionIcon {
  height: 100%;
}

#mainContent {
  display: flex;
}

#sidebar {
  flex: 15%;
}

.sidebarUnorderedList {
  padding: 0 0 0 0;
}

.sidebarItem > a {
  display: flex;
}

.sidebarItem > a > p, p {
  color: white;
}

hr {
  border-color: white;
}

.sidebarItemIcon {
  height: 1.5em;
}

#mainPage {
  flex: 85%;
}

#topicsBar > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.topicsBarItem {
  background-color: darkgrey;
  margin: 0 0.5em 0 0.5em;
  border-radius: 20%;
}

.topicsBarItem > a:hover {
  color: black;
}

/* VIDEO SUGGESTION LIST */

#videoSuggestionList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border: none;
  margin: 0 1em 0 1em;
}

.card-title {
  color: white;
}