/* BASE CODE */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Play Icon */

#welcome {
  position: absolute;
  display: flex;
  height: stretch;
  width: stretch;
  justify-content: center;
  align-items: center;
}

#playIcon {
  background-color: crimson;
  height: 15rem;
  transition: all 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  border-radius: 10%;
}

#main {
  transition-delay: 2s;
}

@starting-style {

  #playIcon {
    opacity: 1;
    height: 10rem;
    transform: rotate(360deg);
  }

  #main {
    opacity: 0;
  }
}