/* BASE CODE */

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

#playIcon {
  height: 10rem;
}

#playIcon:hover {
  background-color: blueviolet;
  height: 15rem;
  transition: all 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: rotate(360deg);
}