html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  background-color: rgb(34, 37, 41);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: white;
}

#main {
  width: 100%;
}

#tableTitle {
  justify-self: center;
}

input {
  width: 100%;
}

button {
  border-radius: 10%;
  color: black;
}